<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sunsynk.mobile.SunsynkDashboardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sunsynk Dashboard"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SunsynkDashboard"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.sunsynk.mobile.MainActivity"
            android:exported="true"
            android:label="Sunsynk Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.sunsynk.mobile.notifications.AlertStreamService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="false" />
    </application>

</manifest>
